<p id="notice"><%= notice %></p>

<h1><b>Products DB</b></h1>


<table class="table table-bordered">
  <thead>
    <tr >
       <th scope="col">Name </th>
       <th scope="col">Description </th>
       <th scope="col">Price </th>
       <th scope="col">Vegeterian </th>
       <th scope="col">Available </th>
       <th scope="col">Catering </th>
       <th scope="col">Featured </th>
      <th colspan="5">Admin-Functions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr >
        <td scope="row"><b><%= product.name %></b></td>
        <td ><%= product.description %></td>
        <td ><b><%= product.price %></b></td>
        <td><%= product.vegeterian %></td>
        <td ><%= product.available %></td>
        <td><%= product.catering %></td>
        <td><%= product.featured %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
